In [125]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [126]:
data = pd.read_csv('https://raw.githubusercontent.com/joanby/python-ml-course/master/datasets/ecom-expense/Ecom%20Expense.csv')
data.head()

,Transaction ID,Age,Items,Monthly Income,Transaction Time,Record,Gender,City Tier,Total Spend
0,TXN001,42,10,7313,627.668127,5,Female,Tier 1,4198.385084
1,TXN002,24,8,17747,126.904567,3,Female,Tier 2,4134.976648
2,TXN003,47,11,22845,873.469701,2,Male,Tier 2,5166.614455
3,TXN004,50,11,18552,380.219428,7,Female,Tier 1,7784.447676
4,TXN005,60,2,14439,403.374223,2,Female,Tier 2,3254.160485

In [127]:
dummy_gender = pd.get_dummies(data['Gender'], prefix = "Gender")
dummy_city = pd.get_dummies(data['City Tier'], prefix = "City")

In [128]:
dummy_gender.head()

   Gender_Female  Gender_Male
0              1            0
1              1            0
2              0            1
3              1            0
4              1            0

In [129]:
dummy_city.head()

   City_Tier 1  City_Tier 2  City_Tier 3
0            1            0            0
1            0            1            0
2            0            1            0
3            1            0            0
4            0            1            0

In [130]:
columns_names = data.columns.values.tolist()
columns_names

['Transaction ID',
 'Age ',
 ' Items ',
 'Monthly Income',
 'Transaction Time',
 'Record',
 'Gender',
 'City Tier',
 'Total Spend']

#### Aplicando un jon

In [131]:
data_new = data[columns_names].join(dummy_gender)
data_new.head()

,Transaction ID,Age,Items,Monthly Income,Transaction Time,Record,Gender,City Tier,Total Spend,Gender_Female,Gender_Male
0,TXN001,42,10,7313,627.668127,5,Female,Tier 1,4198.385084,1,0
1,TXN002,24,8,17747,126.904567,3,Female,Tier 2,4134.976648,1,0
2,TXN003,47,11,22845,873.469701,2,Male,Tier 2,5166.614455,0,1
3,TXN004,50,11,18552,380.219428,7,Female,Tier 1,7784.447676,1,0
4,TXN005,60,2,14439,403.374223,2,Female,Tier 2,3254.160485,1,0

In [132]:
column_names = data_new.columns.values.tolist()
column_names

['Transaction ID',
 'Age ',
 ' Items ',
 'Monthly Income',
 'Transaction Time',
 'Record',
 'Gender',
 'City Tier',
 'Total Spend',
 'Gender_Female',
 'Gender_Male']

In [133]:
data_new = data_new[column_names].join(dummy_city)
data_new.head()

,Transaction ID,Age,Items,Monthly Income,Transaction Time,Record,Gender,City Tier,Total Spend,Gender_Female,Gender_Male,City_Tier 1,City_Tier 2,City_Tier 3
0,TXN001,42,10,7313,627.668127,5,Female,Tier 1,4198.385084,1,0,1,0,0
1,TXN002,24,8,17747,126.904567,3,Female,Tier 2,4134.976648,1,0,0,1,0
2,TXN003,47,11,22845,873.469701,2,Male,Tier 2,5166.614455,0,1,0,1,0
3,TXN004,50,11,18552,380.219428,7,Female,Tier 1,7784.447676,1,0,1,0,0
4,TXN005,60,2,14439,403.374223,2,Female,Tier 2,3254.160485,1,0,0,1,0

In [134]:
# Estas columnas son acorde al tutorial
feature_cols = ['Monthly Income', 'Transaction Time', 'Gender_Female', 'Gender_Male', 'City_Tier 1', 'City_Tier 2', 'City_Tier 3']

In [135]:
X = data_new[feature_cols]
y = data_new['Total Spend']

In [136]:
lm = LinearRegression()
lm.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [137]:
# Ordenadas
print(lm.intercept_)
# Coeficientes
print(lm.coef_)

3655.7294076906533
[   0.15297825    0.12372609  -94.15779883   94.15779883  119.6632516
  -16.67901801 -102.9842336 ]

In [138]:
list(zip(feature_cols, lm.coef_))

[('Monthly Income', 0.15297824609320515),
 ('Transaction Time', 0.1237260864261999),
 ('Gender_Female', -94.15779883032017),
 ('Gender_Male', 94.15779883032025),
 ('City_Tier 1', 119.66325160390095),
 ('City_Tier 2', -16.679018007990408),
 ('City_Tier 3', -102.98423359591058)]

In [139]:
# Modelo malito, ya que el r2 es bajo, debido a que falta informacion
lm.score(X,y)

0.19478920552885381

In [140]:
# Añadimos record
feature_cols = ['Monthly Income', 'Transaction Time', 'Gender_Female', 'Gender_Male', 'City_Tier 1', 'City_Tier 2', 'City_Tier 3','Record']
X = data_new[feature_cols]
y = data_new['Total Spend']

In [141]:
lm = LinearRegression()
lm.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [142]:
print(lm.intercept_)

-79.41713030137089

In [143]:
list(zip(feature_cols, lm.coef_))

[('Monthly Income', 0.14753898049205738),
 ('Transaction Time', 0.1549461254958966),
 ('Gender_Female', -131.02501325554584),
 ('Gender_Male', 131.02501325554562),
 ('City_Tier 1', 76.76432601049518),
 ('City_Tier 2', 55.13897430923225),
 ('City_Tier 3', -131.90330031972758),
 ('Record', 772.2334457445643)]

In [144]:
# El r2 mejoro un resto
lm.score(X,y)

0.9179923586131016

#### Calculamos la desviacion tipica de los residuos

- Modelo Global Total_Spend = -79.41713030137089 + 0.14753898049205738 * Monthly Income + 0.1549461254958966 * Transaction Time -131.02501325554584 * Gender_Female + 131.02501325554562 * Gender_Male + 76.76432601049518 * City_Tier 1 + 55.13897430923225 * City_Tier 2 -131.90330031972758 * City_Tier 3 + 772.2334457445643 * Record

- Reales scenario
    * Si es hombre y esta en city tier 1 =  -79.41713030137089 + 0.14753898049205738 * Monthly Income + 0.1549461254958966 * Transaction Time  + 131.02501325554562 * Gender_Male + 76.76432601049518 * City_Tier 1 + 772.2334457445643 * Record

    * Si es hombre y esta en city tier 2 = 
        
        -79.41713030137089 + 0.14753898049205738 * Monthly Income + 0.1549461254958966 * Transaction Time + 131.02501325554562 * Gender_Male  + 55.13897430923225 * City_Tier 2 + 772.2334457445643 * Record

    * Si es hombre y esta en city tier 3 = -79.41713030137089 + 0.14753898049205738 * Monthly Income + 0.1549461254958966 * Transaction Time -131.02501325554584 * Gender_Female + 131.02501325554562 * Gender_Male -131.90330031972758 * City_Tier 3 + 772.2334457445643 * Record

    * Si es mujer y esta en city tier 1 = -79.41713030137089 + 0.14753898049205738 * Monthly Income + 0.1549461254958966 * Transaction Time -131.02501325554584 * Gender_Female + 76.76432601049518 * City_Tier 1 + 772.2334457445643 * Record

    * Si es mujer y esta en city tier 2 = -79.41713030137089 + 0.14753898049205738 * Monthly Income + 0.1549461254958966 * Transaction Time -131.02501325554584 * Gender_Female + 55.13897430923225 * City_Tier 2 + 772.2334457445643 * Record

    * Si es mujer y esta en city tier 3 = -79.41713030137089 + 0.14753898049205738 * Monthly Income + 0.1549461254958966 * Transaction Time -131.02501325554584 * Gender_Female -131.90330031972758 * City_Tier 3 + 772.2334457445643 * Record

In [145]:
data_new['Predict'] = -79.41713030137089 + 0.14753898049205738 * data_new['Monthly Income'] + 0.1549461254958966 * data_new['Transaction Time'] -131.02501325554584 * data_new.Gender_Female + 131.02501325554562 * data_new.Gender_Male + 76.76432601049518 * data_new['City_Tier 1'] + 55.13897430923225 * data_new['City_Tier 2'] -131.90330031972758 * data_new['City_Tier 3'] + 772.2334457445643 * data_new['Record']

In [146]:
data_new.head()

,Transaction ID,Age,Items,Monthly Income,Transaction Time,Record,Gender,City Tier,Total Spend,Gender_Female,Gender_Male,City_Tier 1,City_Tier 2,City_Tier 3,Predict
0,TXN001,42,10,7313,627.668127,5,Female,Tier 1,4198.385084,1,0,1,0,0,4903.696720
1,TXN002,24,8,17747,126.904567,3,Female,Tier 2,4134.976648,1,0,0,1,0,4799.434826
2,TXN003,47,11,22845,873.469701,2,Male,Tier 2,5166.614455,0,1,0,1,0,5157.082504
3,TXN004,50,11,18552,380.219428,7,Female,Tier 1,7784.447676,1,0,1,0,0,8068.012996
4,TXN005,60,2,14439,403.374223,2,Female,Tier 2,3254.160485,1,0,0,1,0,3581.980335

In [147]:
SSD = np.sum((data_new['Predict']-data_new['Total Spend'])**2)
SSD

1517733985.3408167

In [148]:
RSE = np.sqrt(SSD/(len(data_new) - len(feature_cols)-1))
RSE

803.1318809818166

In [149]:
sales_mean = np.mean(data_new['Total Spend'])
sales_mean

6163.176415976714

In [150]:
error = RSE/sales_mean
error

0.13031135680294162

In [151]:
data_new['Predict_2'] = lm.predict(X)

#### El tutor no divide, ni trabaja con datos de validación, seguimos el ejercicio por cuestiones academicas

In [153]:
data_new

,Transaction ID,Age,Items,Monthly Income,Transaction Time,Record,Gender,City Tier,Total Spend,Gender_Female,Gender_Male,City_Tier 1,City_Tier 2,City_Tier 3,Predict,Predict_2
0,TXN001,42,10,7313,627.668127,5,Female,Tier 1,4198.385084,1,0,1,0,0,4903.696720,4903.696720
1,TXN002,24,8,17747,126.904567,3,Female,Tier 2,4134.976648,1,0,0,1,0,4799.434826,4799.434826
2,TXN003,47,11,22845,873.469701,2,Male,Tier 2,5166.614455,0,1,0,1,0,5157.082504,5157.082504
3,TXN004,50,11,18552,380.219428,7,Female,Tier 1,7784.447676,1,0,1,0,0,8068.012996,8068.012996
4,TXN005,60,2,14439,403.374223,2,Female,Tier 2,3254.160485,1,0,0,1,0,3581.980335,3581.980335
5,TXN006,49,6,6282,48.974268,2,Male,Tier 2,2375.036467,0,1,0,1,0,2585.641997,2585.641997
6,TXN007,21,14,7086,961.203768,8,Male,Tier 1,7494.474559,0,1,1,0,0,7500.635790,7500.635790
7,TXN008,58,9,8881,962.253740,10,Male,Tier 3,10782.944920,0,1,0,0,1,9101.430215,9101.430215
8,TXN009,20,6,5635,858.328131,5,Male,Tier 1,3854.277411,0,1,1,0,0,4953.916211,4953.916211
9,TXN010,48,12,20861,43.036737,4,Female,Tier 2,5346.140262,1,0,0,1,0,6018.109661,6018.109661
10,TXN011,37,8,2556,947.846386,1,Male,Tier 3,1712.073796,0,1,0,0,1,1215.912788,1215.912788
11,TXN012,49,8,27947,89.643348,6,Male,Tier 2,8047.046153,0,1,0,1,0,8877.309309,8877.309309
12,TXN013,48,12,23445,773.635988,9,Male,Tier 3,11334.578240,0,1,0,0,1,10448.728891,10448.728891
13,TXN014,34,10,14297,245.894150,2,Male,Tier 2,3791.364491,0,1,0,1,0,3798.678899,3798.678899
14,TXN015,39,1,3405,120.916781,1,Male,Tier 1,1674.998658,0,1,1,0,0,1421.711470,1421.711470
15,TXN016,29,13,28714,546.552275,6,Male,Tier 2,8446.607517,0,1,0,1,0,9061.267975,9061.267975
16,TXN017,37,13,14069,131.206447,8,Female,Tier 1,8338.438530,1,0,1,0,0,8140.245596,8140.245596
17,TXN018,58,14,28428,102.052371,9,Female,Tier 3,11933.056880,1,0,0,0,1,10817.806325,10817.806325
18,TXN019,58,15,14982,69.324883,10,Male,Tier 2,11898.854880,0,1,0,1,0,10050.251943,10050.251943
19,TXN020,58,13,27864,350.785703,8,Female,Tier 1,10502.397200,1,0,1,0,0,10209.568786,10209.568786
20,TXN021,30,5,16960,588.317950,10,Male,Tier 2,11640.427170,0,1,0,1,0,10422.500011,10422.500011
21,TXN022,51,14,3041,361.646738,8,Male,Tier 3,6929.271468,0,1,0,0,1,6602.273949,6602.273949
22,TXN023,34,13,5037,579.519349,6,Female,Tier 2,4659.601140,1,0,0,1,0,5311.045628,5311.045628
23,TXN024,44,4,27403,755.191034,2,Female,Tier 3,5186.995354,1,0,0,0,1,5362.146055,5362.146055
24,TXN025,30,11,23570,484.685340,6,Male,Tier 1,7573.790334,0,1,1,0,0,8314.366769,8314.366769
25,TXN026,29,5,8954,87.436449,1,Female,Tier 3,2113.269251,1,0,0,0,1,1764.499972,1764.499972
26,TXN027,28,15,12015,997.711366,8,Male,Tier 1,8316.443505,0,1,1,0,0,8233.512136,8233.512136
27,TXN028,58,9,8061,629.985772,7,Female,Tier 2,6016.727320,1,0,0,1,0,6537.256527,6537.256527
28,TXN029,27,4,20163,623.211490,10,Female,Tier 1,11998.379510,1,0,1,0,0,10660.049309,10660.049309
29,TXN030,35,10,22859,925.165278,5,Male,Tier 1,6719.134009,0,1,1,0,0,7505.483768,7505.483768
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2332,TXN2333,59,4,17916,252.716956,1,Male,Tier 3,3992.663438,0,1,0,0,1,3374.403916,3374.403916
2333,TXN2334,30,3,24366,750.599230,0,Female,Tier 3,4499.440811,1,0,0,0,1,3368.891797,3368.891797
2334,TXN2335,45,11,11041,150.636277,9,Female,Tier 1,9255.917532,1,0,1,0,0,8468.741585,8468.741585
2335,TXN2336,47,9,11853,772.374962,7,Female,Tier 1,6591.377065,1,0,1,0,0,7140.412346,7140.412346
2336,TXN2337,60,10,9669,644.633835,8,Male,Tier 2,7810.574323,0,1,0,1,0,7811.052341,7811.052341
2337,TXN2338,30,15,27785,25.151410,7,Male,Tier 1,9461.450479,0,1,1,0,0,9637.274016,9637.274016
2338,TXN2339,55,2,8000,135.858960,3,Female,Tier 3,2625.887751,1,0,0,0,1,3175.717557,3175.717557
2339,TXN2340,25,3,12618,143.235014,3,Female,Tier 2,3285.883842,1,0,0,1,0,4045.237734,4045.237734
2340,TXN2341,32,12,10293,738.055782,8,Female,Tier 3,7494.051932,1,0,0,0,1,7468.499732,7468.499732
2341,TXN2342,53,7,24094,268.153037,0,Female,Tier 2,4698.938272,1,0,0,1,0,3441.050301,3441.050301
2342,TXN2343,60,15,29852,420.125966,6,Male,Tier 2,8768.882298,0,1,0,1,0,9209.578068,9209.578068
2343,TXN2344,23,11,5882,417.546210,3,Female,Tier 1,2607.949377,1,0,1,0,0,3115.543970,3115.543970
2344,TXN2345,20,9,7619,451.353947,9,Female,Tier 2,8467.276299,1,0,0,1,0,7988.832880,7988.832880
2345,TXN2346,36,14,2897,676.145891,1,Female,Tier 3,1730.554041,1,0,0,0,1,962.074614,962.074614
2346,TXN2347,44,1,15528,167.106032,8,Male,Tier 1,8365.792225,0,1,1,0,0,8623.117496,8623.117496
2347,TXN2348,29,2,7828,814.772097,6,Female,Tier 1,4737.047961,1,0,1,0,0,5780.903776,5780.903776
2348,TXN2349,51,2,22398,107.748073,7,Female,Tier 3,7738.585197,1,0,0,0,1,8384.561908,8384.561908
2349,TXN2350,52,13,25578,519.134829,3,Male,Tier 3,5905.806940,0,1,0,0,1,6090.594893,6090.594893
2350,TXN2351,60,1,3323,41.913388,8,Female,Tier 1,6318.978290,1,0,1,0,0,6540.956098,6540.956098
2351,TXN2352,44,9,16714,674.170738,0,Female,Tier 2,3751.976990,1,0,0,1,0,2415.123494,2415.123494
2352,TXN2353,36,1,21134,470.535958,0,Female,Tier 1,4151.359282,1,0,1,0,0,3057.318720,3057.318720
2353,TXN2354,46,10,7808,214.650455,6,Male,Tier 3,5085.117527,0,1,0,0,1,5738.348873,5738.348873
2354,TXN2355,39,11,24233,887.219396,7,Female,Tier 3,8369.397349,1,0,0,0,1,8776.071998,8776.071998
2355,TXN2356,36,2,11500,397.539340,1,Male,Tier 1,2948.938011,0,1,1,0,0,2658.901111,2658.901111
2356,TXN2357,20,4,13481,602.393298,8,Female,Tier 3,7578.431026,1,0,0,0,1,7917.833626,7917.833626
2357,TXN2358,50,7,5705,460.157207,3,Male,Tier 2,2909.619546,0,1,0,1,0,3336.456655,3336.456655
2358,TXN2359,35,11,11202,851.924751,8,Male,Tier 2,7968.633136,0,1,0,1,0,8069.348522,8069.348522
2359,TXN2360,27,5,21335,435.145358,8,Female,Tier 3,8816.406448,1,0,0,0,1,9050.690358,9050.690358
2360,TXN2361,45,12,19294,658.439838,7,Female,Tier 1,7915.595856,1,0,1,0,0,8220.596094,8220.596094
2361,TXN2362,46,7,2855,560.514341,8,Male,Tier 1,6832.401686,0,1,1,0,0,6814.313090,6814.313090

#### Enmascarando variables dummies